#include ".config/nord/X"
! #include ".config/base16_default/X"

! GENERAL
! ============================ 

*.font: JetBrainsMono Nerd Font:style=Regular:size=10
*.boldFont: JetBrainsMono Nerd Font:style=Bold:size=10

! XTERM
! ================

XTerm*loginShell: true
XTerm*font: -windows-dina-medium-r-normal--13-*-*-*-*-*-microsoft-cp1252
XTerm*boldFont: -windows-dina-bold-r-normal--13-*-*-*-*-*-microsoft-cp1252
XTerm*borderWidth: 0
XTerm*internalBorder: 2
XTerm*termName: xterm-256color
XTerm*vt100.saveLines: 10000
XTerm*vt100.scrollBar: false
XTerm*vt100.bellIsUrgent: true
! select from cursor position by clicking
XTerm*cutToBeginningOfLine: false
! and do not include new line
XTerm*cutNewLine: false
! shift + left click opens selection in browser
!XTerm*vt100*translations: #override Shift : exec-formatted("firefox '%t'", PRIMARY)

! URXVT
! ================

URxvt*perl-ext-common: clipboard,selection-to-clipboard

URxvt*clipboard.autocopy: true
URxvt*keysym.CS-c: perl:clipboard:copy
URxvt*keysym.CS-v: perl:clipboard:paste

URxvt*letterSpace: -1

URxvt*scrollBar: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: false

! LOCK SCREEN
! ================

! Lock the screen by moving to cursor to lower left corner for 1 sec or after 5
! min inactivity
XIdle*position: sw
XIdle*delay:    1
XIdle*timeout:  300

XLock*description: off
XLock*mode:        blank
XLock*background:  #321
XLock*lockdelay:   3
XLock*timeout:     15
XLock*font:        -windows-dina-medium-r-normal--13-*-*-*-*-*-microsoft-cp1252
XLock*planfont:    -windows-dina-medium-r-normal--13-*-*-*-*-*-microsoft-cp1252

! CLOCK
! ================

XClock*analog:       false
XClock*geometry:     -1+2
XClock*font:         -windows-dina-bold-r-normal--10-*-*-*-*-*-microsoft-cp1252
XClock*background:   #f4f4f4
XClock*foreground:   #3e3e3e
XClock*borderWitdth: 0

